<!DOCTYPE html>
<html>
<head>
  <title>Marigold</title>
  <!-- Line below allows the gon variables to be loaded, otherwise they will not show because <%= include_gon %> is in application.html.erb, which is not reloaded on every view (Turbolinks). -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= image_tag "marigoldr.jpg", class: "background" %>
<div class="main_container">
	<%= render 'layouts/header' %>
	<%= yield %>
</div>
</body>
</html>